<style type="text/css">
  table th {
    white-space: nowrap;
    font-size: 24px;
  }
  table td a {
    white-space: nowrap;
    font-size: 32px;
  }
</style>

<div class="check_box" >
  <%= form_for :affiliations do |f| %>
    <%= f.collection_check_boxes(:user_ids, User.all, :id, :username) do |b| %>
      <%= b.label { b.check_box + b.text } %>
    <% end %>

    <div class="form-group">
      <%= f.button '保　存', class: "btn btn-primary btn-lg btn-block" %>
    </div>
  <% end %>
</div>

<div class="list-group text-center">
  <a href="#" class="list-group-item toThePageTop">
    <span>▲</span>
  </a>
</div>
