<% if notice.present? %>
  <div class="panel panel-warning">
    <div class="panel-body">
      <%= notice %>
    </div>
  </div>
<% end %>

<style type="text/css">
  table th {
    white-space: nowrap;
    font-size: 24px;
  }
  table td a {
    white-space: nowrap;
    font-size: 32px;
  }
</style>

<div class="panel panel-default">
  <div class="panel-body">
    <%= link_to '委員を新規作成', new_group_path, class: "btn btn-success btn-lg btn-block" %>
  </div>
</div>

<% @groups.each do |group| %>
  <%= render 'form', group: group.becomes(Group) %>
<% end %>

<div class="list-group text-center">
  <a href="#" class="list-group-item toThePageTop">
    <span>▲</span>
  </a>
</div>
