<div class="form-group">
  <%= link_to '一覧画面へ戻る', groups_path, class: "btn btn-success btn-lg" %>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">委員の作成</div>
  <div class="panel-body">
    <%= render 'form', group: @group %>
  </div>
</div>
