<div class="form-group">
  <%= link_to '一覧画面へ戻る', events_path, class: "btn btn-success btn-lg" %>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">イベント修正</div>
  <div class="panel-body">
    <%= render 'form', event: @event %>
  </div>
</div>

