<h2>ログイン画面</h2>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <div class="form-group">
      <label for="login">お名前かメールアドレスを入力してください。</label>
      <%= f.text_field :login, { required: false, autofocus: true, class: "form-control input-lg" } %>
    </div>
    <div class="form-group">
      <%= f.button :submit, "ロ グ イ ン", class: "btn btn-primary btn-lg form-control" %>
    </div>
  </div>
<% end %>
